.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 70%;
  margin: 0 auto;
  overflow-x: auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formSection {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 95%;
  margin: 0px 10px 0 10px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.addButton,
.saveButton,
.deleteButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.addButton:hover,
.saveButton:hover,
.deleteButton:hover {
  background-color: #0056b3;
}

.customFormClass {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customFieldClass {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customFieldClass label {
  font-weight: bold;
}

.customFieldClass input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radioGroup {
  display: flex;
  gap: 20px;
  align-items: center;
}

.note {
  background-color: #e9ecef;
  padding: 10px;
  border-left: 4px solid #007bff;
  margin-top: 10px;
}
