.container {
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.flexContainer {
  display: flex;
  width: 100%;
}

.flexContainerHalft {
  display: block;
  width: 100%;
}

.mapCompany {
  width: 200px;
  background-color: #f9f9f9;
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
  flex-shrink: 0; /* Ngăn không cho phần này co lại khi không còn đủ không gian */
  border: 1px solid #ddd;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2)
}

.scheduleList {
  background-color: #e0e0e0;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 20px;
  margin: 5px 10px 0 10px;
  width: 100%;
  min-width: 100%;
  overflow-x: auto;
  position: relative;
}

.scheduleTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #e0e0e0;
  table-layout: auto;
}

.scheduleTable th,
.scheduleTable td {
  border: 1px solid #302e2e;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

.scheduleTable th {
  background-color: #f2f2f2;
  border-bottom: 1.5px solid #181717;
  position: sticky;
  top: 0;
  z-index: 2;
}

.scheduleTable .selected {
  background-color: #007bff;
  color: white;
}

.flexContainerChild{
  display: flex;
  width: 100%;
}

.formSection {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #ccc;
  margin: 0 10px 0 10px;
  width: 100%;
}

.resizer {
  display: inline-block;
  width: 10px;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.buttonGroup {
  padding: 20px;
  width: 100%;
  margin: 0 10px;
  align-items: center;
  display: flex;
}
.button{
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #302e2e;
}


