/* Taskbar.css */
:root {
  --primary-color: #1196f0;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f5f5f5;
  --tab-header-bg: #ecf0f1;
  --tab-header-active-bg: #bdc3c7;
  --button-bg: var(--primary-color);
  --button-hover-bg: #2980b9;
  --button-text-color: #fff;
}

.taskbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  width: 100vw;
}

.taskbar-container button {
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.taskbar-container button:hover {
  background-color: var(--button-hover-bg);
}

.taskbar-items a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.taskbar-items a:hover {
  text-decoration: underline;
}
