.notLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: #999;
}

.container {
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.flexContainer {
  display: flex;
}

.flexContainerHalft {
  display: block;
  width: 100%;
}

.mapCompany {
  width: 200px;
  background-color: #f9f9f9;
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
  flex-shrink: 0; /* Ngăn không cho phần này co lại khi không còn đủ không gian */
  border: 1px solid #ddd;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2)
}

.scheduleList {
  background-color: #e0e0e0;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 20px;
  margin: 5px 10px 0 10px;
  width: 95%;
  overflow-x: auto;
  position: relative;
}

.scheduleTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #e0e0e0;
  table-layout: auto;
}

.scheduleTable th,
.scheduleTable td {
  border: 1px solid #302e2e;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

.scheduleTable th {
  background-color: #f2f2f2;
  border-bottom: 1.5px solid #181717;
  position: sticky;
  top: 0;
  z-index: 2;
}



.scheduleTable .selected {
  background-color: #007bff;
  color: white;
}

.formSection {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #ccc;
  width: 95%;
  margin: 0 10px 0 10px;
}

.resizer {
  display: inline-block;
  width: 10px;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.buttonGroup {
  position: relative;
  padding: 20px;
  border: 1px solid black;
  margin: 20px 0;
}

.buttonGroup::before {
  content: 'Báo cáo';
  position: absolute;
  top: -15px;
  left: 5%;
  transform: translateX(-50%);
  background-color: white; /* Màu nền trùng với màu nền của container */
  padding: 0 10px;
}

.buttonList {
  display: flex;
  gap: 20px;
}
.buttonList button{
  padding: 5px 10px;
  border: 1px solid #181717;
  border-radius: 5px;
  cursor: pointer;
}
.buttonSingle button{
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #181717;
  border-radius: 5px;
  cursor: pointer;
}

.loadingProgress {
  width: 100%;
  margin-bottom: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loadingBar {
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 20px;
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
}
