.container {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 70%;
  margin: 0 auto;
  overflow-x: auto;
  font-family: Arial, sans-serif;
}

@media (max-width: 800px) {
  .container {
    width: 95%; /* Set width to 100% when viewport width is 800px or less */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

h2 {
  text-align: center;
}

.containerFormTable {
  padding: 10px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.containerFormButton {
  flex: 1;
}

.tablecontainer {
  border-radius: 8px;
  min-width: 200px;
}

.formSection {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 350px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.container_buttonGroup {
  padding: 15px;
  border-radius: 8px;
  min-width: 350px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
}

.addButton,
.saveButton,
.exitButton,
.deleteButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 10px;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.addButton:hover,
.saveButton:hover,
.exitButton:hover,
.deleteButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.customFormClass {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customFieldClass {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customFieldClass label {
  font-weight: bold;
}

.customFieldClass input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radioGroup {
  display: flex;
  gap: 20px;
  align-items: center;
}

.note {
  background-color: #e9ecef;
  color: #007bff;
  padding: 10px;
  border-left: 4px solid #007bff;
  margin-top: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #ddd;
}
